body {
  background: url("https://image.freepik.com/free-vector/abstract-background-with-a-3d-pattern_1319-68.jpg");
  margin: 0;


}
div {
  background-color: #C0C0C0; 
  text-align: center;
 } 
h1{
  font-family: Garamond;
  font-size: 350%
}


h2{
  font-family: Garamond;
  font-style:italic;
  font-size: 175%;
  }
 h4 {
    display: inline-block;
    margin: 0px auto;
    position: inline-block;
    font-size: 175;
}

ul{
  list-style-type: none;
  font-family: Garamond;
  text-align: center;
  font-style: italic;
  margin:0;
  font-size: 150%;
}
h4{
  font-family: Garamond;
  font-style: bold;
  font-size: 250%;
  background: #e6f7ff;
  opacity: 95%
}

h5{
  font-family: Garamond;
  background: #e6f7ff;
  opacity: 95%;
  display: inline-block;
  font-style: bold;
  font-size: 250%;
  margin: 0;
 } 
 p{
  font-family: Garamond;
  font-size: 175%;
  margin: 0px auto;
  text-align: justify;
   -moz-text-align-last: center;
  text-align-last: center;
 }
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=80);
}